<footer>
    <div class="fa-info">
        <div class="fa-social-links">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div>
            &copy;SafarNest Privacy Limited
        </div>
        <div class="fa-condition">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>